{%extends 'base.html' %}


{% block content %}
    <section class="section">
        <div class="container">

          
          <a href="{% url 'notes_list'%}">Go Back</a>
            <br></br>

            <div class="tile is-ancestor">
                <div class="tile is-parent">
                  <article class="tile is-child box">
                    <p class="title">{{note.title}}</p>

                    <form  action="{% url 'delete_note' note.id %}" method='post'>
                        {% csrf_token %}
                        <p>
                            Are you sure to delete the note? 
                            
                            <input type='submit' value='submit' class="button is-danger">
                        </p>
                    </form>
                  </article>

                  
                </div>
            </div>
            
            <div class="buttons">
              
          </div>


        </div>
    </section>
{% endblock %}
