{% extends 'base.html' %}




{% block content %}


<section class="section">

    <div class='columns'>
        <div class='column is-one-fifth'>
            <aside class="menu">

                <div>
                    <p class="menu-label">Filters</p>

                    <ul class="menu-list">
                        <li><a href="{% url 'notes_list' %}">All</a></li>
                        <li><a href="{% url 'notes_list_today' %}">Today</a></li>
                        <li><a href="{% url 'notes_this_week' %}">This Week</a></li>
                        <li><a href="{% url 'notes_this_month' %}">This Month</a></li>
                        <li><a href="{% url 'notes_this_year' %}">This Year</a></li>
                    </ul>
                </div>
                <br></br>
                <div>
                    <p class="menu-label">Operations</p>
                    <ul class="menu-list">
                    {%if notes %}<p><a href="{% url 'delete_all_notes' %}" class=''>Delete All Notes</a></p>{% endif %}
                    </ul>
                </div>

            </aside>
        </div>
        
        <div class=" column is-four-fifths">
            <h1 class="title">Notes</h1>
            <p><a href="{% url 'add_note' %}" class='is-pulled-right'>Add A Note</a></p>
            <h1>Total Notes : {{total_notes.notes}}</h1>
           
            <br></br>
            {%for note in notes%}
            
                <div class="columns ">
                    <div class="column"> 
                        <div class="box">
                            <h2 class="title is-5"><a href="{% url 'note_details' pk=note.id %}">{{note.title}}</a></h2>
                            <p>{{note.body|truncatechars:25}}</p>

                            <div class='is-pulled-right'>
                                <a class="button is-primary" href="{% url 'note_details' note.id %}">View Note</a>
                                <a class="button is-primary" href="{% url 'note_view_pdf' note.id %}">View PDF</a>
                                <a class="button is-primary" href="{% url 'note_get_pdf' note.id %}">Get PDF</a>
                                <a class="button is-primary" href="{% url 'update_note' note.id %}">Update Note</a>
                                <a class="button is-danger" href="{% url 'delete_note' note.id %}">Delete Note</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            {%endfor%}
             
            </div>
        </div>
    </div>
</section>

{% endblock %}
